<% layout("layouts/boilerplate")%>
<div class="card w-75 mx-auto">
	<div class="row g-0">
		<div class="col-md-4">
			<img class="img-fluid rounded mx-auto d-block" alt="Responsive image" src="<%=book.image%>">
		</div>  
		<div class="col-md-8">
			<h5 class="card-header"><%= book.title %> </h5>
			<div class="card-body">
				<p class="card-text text-primary"><%= book.author %></p>
				<p class="card-text">Εκδότης: <%= book.publisher %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">ISBN: <%= book.isbn %></li>
				<li class="list-group-item">Θέμα: <%= book.subject %></li>
			</ul>
			<div class="card-body">
				<p class="card-text"><%= book.description %></p>
				<p class="card-text">
				<a href="#reviews" class="btn btn btn-outline-secondary me-md float-left">Αξιολογήσεις</a>
				<a href="#questions" class="btn btn btn-outline-secondary me-md float-left">Ερωτήσεις</a>
				
                <% if (typeof currentUser != "undefined") { %>
                    <% if (currentUser.usertype != "author") { %>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="/books/checkout/<%=book._id%>" class="btn btn-outline-primary me-md-2">Τιμή: <%= book.price%>€</a>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/books/checkout/<%=book._id%>" class="btn btn-outline-primary me-md-2">Τιμή: <%= book.price%>€</a>
                    </div>
                <% } %>
				</p>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row d-flex justify-content-center">
    <div class="col-md-8">
		<ul class="nav nav-pills d-flex justify-content-center">
		  <li class="nav-item">
		    <a name="reviews"></a>
		    <h5>Αξιολογήσεις</h3>
		  </li>
		</ul>
		<% if (typeof currentUser != "undefined") { %>
			<% if (currentUser.usertype != "author") { %>
	        <form action="/books/<%=book._id%>/review" method="POST" class="mb-3 validated-form" novalidate>
	            <div class="mb-3">
	                <label class="form-label" for="rating">Βαθμολογία</label>
	                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
	            </div>
	            <div class="mb-3">
	                <label class="form-label" for="body">Αξιολόγηση</label>
	                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" placeholder="Γράψτε μία αξιολόγηση" required></textarea>
	            </div>
	            <button class="btn btn-success">Υποβολή</button>
	        </form>
	        <% } %>
        <% } %>
        <% for(let review of book.reviews) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <h5 class="card-title">Βαθμολογία: <%= review.rating %></h5>
                <p class="card-text">Αξιολόγηση: <%= review.body %></p>
            </div>
        </div>
        <% } %>
		<ul class="nav nav-pills d-flex justify-content-center">
		  <li class="nav-item">
		    <a name="questions"></a>
		    <h5>Ερωτήσεις</h3>
		  </li>
		</ul>
		<% if (typeof currentUser != "undefined") { %>
			<% if (currentUser.usertype != "author") { %>
				<form action="/books/<%=book._id%>/question" method="POST" class="mb-3 validated-form" novalidate>
		            <div class="mb-3">
		                <label class="form-label" for="body">Ερώτηση</label>
		                <textarea class="form-control" name="question[body]" id="body" cols="30" rows="3" placeholder="Γράψτε μία ερώτηση" required></textarea>
		            </div>
		            <button class="btn btn-success">Υποβολή</button>
		        </form>
	        <% } %>
        <% } %>
        <% for(let question of book.questions) { %>
        <div class="card">
        	<div class="card-header">
        		Ερώτηση: <%= question.body %>
        	</div>
            <div class="card-body">
            	<% if (typeof question.reply != "undefined") { %>
                	<p class="card-text">Απάντηση: <%= question.reply %></p>
	        	<% } %>
				<% if (typeof currentUser != "undefined") { %>
					<% if (currentUser.usertype == "author" && ((currentUser.firstname + " " + currentUser.lastname) == book.author)) { %>
			            <form action="/books/<%=book._id%>?_method=PUT" method="POST" class="mb-3 validated-form" novalidate>
				            <div class="mb-3">
				                <textarea class="form-control" name="question[reply]" id="body" cols="30" rows="3" placeholder="Γράψτε μία απάντηση"required></textarea>
				                <input type="hidden" id="body" name="question[body]" value="<%= question.body %>">
				                <input type="hidden" id="body" name="question[id]" value="<%= question.id %>">
				            </div>
				            <button class="btn btn-success">Υποβολή</button>
				        </form>
					<% } %>
    			<% } %>
            </div>
        </div>
        <% } %>
	</div>
</div>