<% layout("layouts/boilerplate")%>

<div class="row d-flex justify-content-center">
	<div class="col-12">
		<h1 class="text-center">Στατιστικά Πωλήσεων</h1>
	</div>
</div>
<br>
<% for (let book of books){%>
<div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded mx-auto d-block" alt="Responsive image" src="<%=book.image%>">
        </div>  
        <div class="col-md-8">
            <h5 class="card-header"><%= book.title %> </h5>
            <div class="card-body">
                <p class="card-text text-primary"><%= book.author %></p>
                <p class="card-text">Εκδότης: <%= book.publisher %></p>
            </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Πωλήσεις: <%= book.curprice.length %></li>
    			<li class="list-group-item">Συνολικά Κέρδη: <%= book.curprice.reduce((a, b) => a + b, 0) %>€</li>
			</ul>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/statistics/<%=book._id%>" class="btn btn-primary me-md">Προβολή Κριτικών</a>
            </div>
        </div>
    </div>
</div>
<% }%>